// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-color: #616477;
$font-size-small: 0.5rem;
$font-size-base: 1.0rem;
$font-size-h3: 1.2rem;
$font-size-headLine: 1.5rem;
$font-size-header: 2.0rem;

// Colors


//Header-Size
$header-width : 100%;
$header-height : 70px;
$header-background: #FFFFFF 0% 0% no-repeat padding-box; 

//footer-Size
$footer-width : 100%;
$footer-height : 250px;
$footer-background:transparent linear-gradient(180deg, #c0def5 0%, #8c9ca8 100%) 0% 0% no-repeat padding-box;

// Body-Size
$body-width : 70%;

