* {
  margin: 0;
  padding: 0;
}

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.header {
  width: 100%;
  height: 70px;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

