* {
  margin: 0;
  padding: 0;
}

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.workHeadLine {
  width: 100%;
  height: 300px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.workHeadLine .workHeadLine__container--1 {
  width: 30%;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__headLine {
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__headLine .workHeadLine__headLine--workName {
  width: 60%;
  height: 80px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 10px;
  border-color: #616477;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__headLine .workHeadLine__headLine--workName p {
  font-size: 1rem;
  font-weight: bold;
  color: #616477;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__headLine .workHeadLine__headLine--workName i {
  font-size: 40px;
  color: lightgray;
  margin: auto 20px;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__headLine .workHeadLine__pageDesc {
  width: 30%;
  height: 80px;
  flex-direction: column;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__headLine .workHeadLine__pageDesc .workHeadLine__pageDesc--1 {
  font-size: 1rem;
  font-weight: bold;
  color: #616477;
  margin-bottom: 10px;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__headLine .workHeadLine__pageDesc .workHeadLine__pageDesc--2 {
  font-size: 1rem;
  font-weight: bold;
  color: #616477;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__progress {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px auto;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__progress .workHeadLine__progress--flag {
  height: 30px;
  width: 30px;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__progress .workHeadLine__progress--headLine {
  font-size: 1rem;
  font-weight: bold;
  color: #616477;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__progress .workHeadLine__progress--bar {
  width: 50%;
  height: 10px;
  margin: auto 10px;
  background: lightblue;
}

.workHeadLine .workHeadLine__container--1 .workHeadLine__progress .workHeadLine__progress--percentage {
  font-size: 1rem;
  font-weight: bold;
  color: #616477;
}

.workHeadLine .workHeadLine__container--2 {
  width: 20%;
  height: 80%;
  margin-right: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent linear-gradient(180deg, #b2d8f5 0%, #F9FCFE 100%) 0% 0% no-repeat padding-box;
  border-radius: 10%;
}

.workHeadLine .workHeadLine__container--2 .currentWork__content--title {
  height: 5%;
  margin: 3% auto;
  font-size: 1.2rem;
  font-weight: bold;
  color: #616477;
}

.workHeadLine .workHeadLine__container--2 .currentWork__content--img {
  width: 10%;
  height: 10%;
  margin: 5% auto;
}

.workHeadLine .workHeadLine__container--2 .currentWork__content--desc {
  margin: 5% auto;
  font-size: 0.5rem;
  font-weight: bold;
  color: #616477;
}

.workHeadLine .workHeadLine__container--2 .currentWork__content--progressBar {
  margin: 5% auto;
  width: 40%;
  height: 15px;
  background: lightgreen;
  border-radius: 20px 20px;
}

.workRelation {
  width: 100%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workRelation .workRelation__headLine {
  height: 10%;
  width: 100%;
  padding: 20px 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.workRelation .workRelation__headLine p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #616477;
}

.workRelation .workRelation__works {
  height: 90%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  border-top: solid lightblue;
  border-bottom: solid lightblue;
}

.workRelation .workRelation__works .workRelation__work {
  width: 18%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: dashed lightblue;
  border-left: dashed lightblue;
}

.workRelation .workRelation__works .workRelation__work .workRelation__work--desc {
  font-size: 1rem;
  font-weight: bold;
  color: #616477;
}

.workRelation .workRelation__works .workRelation__work .workRelation__work--name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #616477;
  margin: 20px auto;
}

.processChart {
  width: 80%;
  height: 2000px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.processChart .processChart__body {
  height: 25%;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10%;
}

.processChart .processChart__body .processChart__headLine {
  height: 10%;
  width: 100%;
  margin: 20px 0;
  flex-direction: row;
  align-items: center;
  border-left: solid 4px #7db4e6;
}

.processChart .processChart__body .processChart__headLine .processChart__headLine--headLine {
  font-size: 1.5rem;
  font-weight: bold;
  color: #616477;
  margin-left: 10px;
}

.processChart .processChart__body .processChart__headLine .processChart__headLine--desc {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: normal;
  color: #616477;
}

.processChart .processChart__body .processChart__works {
  height: 80%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.processChart .processChart__body .processChart__works .processChart__work {
  height: 50%;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-bottom: 3%;
  background: white;
  border: solid 2px #7db4e6;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: normal;
  color: #616477;
}

.processChart .processChart__body--4 {
  margin-bottom: 0;
}

.processChart .button--forWork {
  height: 200px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.processChart .button--forWork button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 40%;
  width: 20%;
  background: transparent linear-gradient(180deg, #b5ddf8 0%, #c9dceb 100%) 0% 0% no-repeat padding-box;
  border-radius: 50px;
}

